body{
    background-color: beige;
}
#contenedor{
    width:75%;
    height: 480px;
    border:2px solid red;
    margin:auto;
}
h3{
    background-color: blue;
    color:white;
    text-align: center;
    padding:10px;
}
#resultado{
    height: 370px;
    background-color: pink;
    margin:20px;
    color:blue;
    text-align: center;
}